.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.links {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.green {
    color: green;
}
.red {
    color: red;
}