extends ../layout/base.pug

block style
    link(rel="stylesheet", href="/css/color.css")
block content    
    div  
        h1 The Heading
        p This is a message        
        .links    
            a(href="/order") Order 
            a(href="/display") Display